<section class="explore-block explore-page">
  <div class="content">
    <div class="explore-image-block">
      {{#each image_list}}
        <a href="/object/{{objectid}}"><div class="explore-image" style="background-image:url({{imageurl}}"></div></a>
      {{/each}}
    </div>
    <div class="explore-content">
      <h2>Start exploring</h2>
      <p>Start looking at A.I.-generated data by clicking on an example above or using the search bar below to find paintings that contain the inputted keyword</p>
    </div>
    <div class="search-container">
      <form method="post" action="/search">
        <input type="text" placeholder="Search here..." name="search">
        <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="example-terms">
      {{#each tag_list}}
        <a href="/search/{{tag}}"><p>{{tag}}</p></a>
      {{/each}}
    </div>
  </div>
</section>
