<div id="openseadragon1" style="width: 800px; height: 600px;">

  <div id="image-toolbar">
    <a id="zoom-in" href="#zoom-in" title="Zoom in"><i class="fas fa-search-plus"></i></a>
    <a id="zoom-out" href="#zoom-out" title="Zoom out"><i class="fas fa-search-minus"></i></a>
    <a id="full-page" href="#full-page" title="Full page"><i class="fas fa-compress"></i></a>
  </div>

</div>
<script src="../javascripts/openseadragon/openseadragon.min.js"></script>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1",
        prefixUrl: "../javascripts/openseadragon/images/",
        toolbar: "image-toolbar",
        zoomInButton: "zoom-in",
        zoomOutButton: "zoom-out",
        fullPageButton: "full-page",
        tileSources: {
          type: 'image',
          url: "{{object_info.images.0.iiifbaseuri}}/full/full/0/native.jpg",
          buildPyramid: false
        }
    });
</script>
