<section class="homepage-header">
  <div class="content">
    <div class="head-two-part">
      <div class="banner-head-text">
        <div class="small-caps">Machine Tag Explorer</div>
        <h1>Explore how<br>
        <div class="highlight">a computer sees art</div></h1>
        <div class="red-line-break"></div>
        <div class="head-text-desktop">
          <p class="homepage-about">
            Using artificial intelligence, the Harvard Art Museums has collected over 14 million machine-generated descriptions and tags covering over 100,000 artworks. Ranging from object recognition to face analysis that predicts gender, age, and emotion, the data reveals how computers interpret paintings, photographs, and sculptures.
          </p>
          <div class="homepage-buttons">
            <button class="link-button gray-button" onClick="document.getElementById('terms').scrollIntoView({ behavior: 'smooth' });">Learn more</button>
            <a href="explore"><button class="link-button red-button button-space">Start exploring</button></a>
          </div>
        </div>
      </div>
      <div class="banner-image-container">
        <img class="banner-image" src="/images/bannerImage.png">
      </div>
    </div>
    <div class="head-text-mobile">
      <p class="homepage-about">
        Using artificial intelligence, the Harvard Art Museums has collected over 14 million machine-generated descriptions and tags covering over 100,000 artworks. Ranging from object recognition to face analysis that predicts gender, age, and emotion, the data reveals how computers interpret paintings, photographs, and sculptures.
      </p>
      <div class="homepage-buttons">
        <button class="link-button gray-button" onClick="document.getElementById('terms').scrollIntoView({ behavior: 'smooth' });">Learn more</button>
        <a href="explore"><button class="link-button red-button button-space">Start exploring</button></a>
      </div>
    </div>
  </div>
</section>

<section class="learn-block">
  <div id="terms" />
  <div class="content">
    <h2>Learn more</h2>
    <div class="terms-content">
      <div class="terms-flex">
        <div class="terms-box">
            <h4>Artificial Intelligence (AI)</h4>
            <p>is the ability of computers to perform advanced tasks previously only capable by human intelligence</p>
            <a href="https://simple.wikipedia.org/wiki/Artificial_intelligence">Wikipedia &#8594;</a>
        </div>
        <div class="terms-box">
            <h4>Machine Learning</h4>
            <p>is a subset of artificial intelligence and is the ability of computers to ‘learn’ from previous errors without human input</p>
            <a href="https://simple.wikipedia.org/wiki/Machine_learning">Wikipedia &#8594;</a>
        </div>
        <div class="terms-box">
            <h4>Computer Vision</h4>
            <p>is a field that studies how computers ‘see’ and ‘interpret’ the visual world using machine learning</p>
            <a href="https://simple.wikipedia.org/wiki/Computer_vision">Wikipedia &#8594;</a>
        </div>
      </div>
    </div>
    <div class="applications-content">
      <h3>Real-world applications of art and AI</h3>
      <div class="applications-flex">
        <div class="applications-column-left">
          <p>Artificial intelligence when united with art advances how humans understand and interact with artworks. Specifically, the Harvard Art Museums is using computer vision to categorize and effectively humanize its collection of art pieces. The machine views and annotates our collection as if walking into an art museum for the first time. Since the computer lacks any context or artistic knowledge beyond the pieces themselves, the machine’s interpretations of the artworks lean closer to reflecting the public rather than experts. By being able to use these artificially-generated annotations to search for art, browsing through the museum’s collection becomes more accessible and intuitive to non-museumgoers. </p>
        </div>
        <div class="applications-column-right">
          <p>Not only are the Harvard Art Museums using AI to promote accessibility in art, but other institutions are also pursuing similar efforts. For example, MoMA with the Google Arts and Culture Lab used artificial intelligence to connect older exhibit photos dating back to 1929 to their online collection, allowing greater public access to their exhibition history. Additionally, the machine’s unique perspective can be used to aid art historians⁠—Rutgers University has used machine learning to uncover previously unnoticed connections of influence between artists. As art institutions are becoming more aware of artificial intelligence, the scope of its real-world applications continues to expand.</p>
        </div>
      </div>
    </div>
    <div class="about-button">
      <a href="/about"><button class="link-button dark-gray-button">Read more about the project</button></a>
    </div>
  </div>
</section>

<section class="explore-block">
  <div class="content">
    <div class="explore-content">
      <h2>Start exploring</h2>
    </div>
    <div class="explore-panel">
      <div class="explore-panel-content">
        <div class="explore-image-block">
          {{#each image_list}}
            <a href="/object/{{objectid}}"><div class="explore-image" style="background-image:url({{imageurl}}"></div></a>
          {{/each}}
        </div>
        <div class="tag-search">
          <div class="explore-subhead">
            <h3>Annotation Search</h3>
            <p>Use the search bar to find artworks that contain the inputted keyword</p>
          </div>
          <div class="search-container">
            <form method="post" action="/search">
              <input type="text" placeholder="Search here..." name="search">
              <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div class="example-terms">
            {{#each tag_list}}
              <a href="/search/{{tag}}"><p>{{tag}}</p></a>
            {{/each}}
          </div>
        </div>
        <div class="category-search">
          <div class="explore-subhead">
            <h3>Category Search</h3>
            <p>Explore how a machine auto-categorizes images into 12 unique groups</p>
          </div>
          <a href="/category"><button class="link-button gray-button">Category search</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
