<section class="homepage-header">
  <div class="content">
    <div class="head-two-part">
      <div class="banner-head-text">
        <div class="small-caps">AI Explorer</div>
        <h1>Explore how<br>
        <div class="highlight">a computer sees art</div></h1>
        <div class="red-line-break"></div>
        <div class="head-text-desktop">
          <p class="homepage-about">
            Harnessing artificial intelligence, the Harvard Art Museums have gathered {{annotation_count}} machine-generated descriptions and tags for {{image_count}} images from across their collections. Using techniques such as object recognition and face analysis—which estimates gender, age, and emotion—this data offers insights into how computers perceive and interpret a wide range of artworks and objects.
          </p>
          <div class="homepage-buttons">
            <button class="link-button gray-button" onClick="document.getElementById('terms').scrollIntoView({ behavior: 'smooth' });">Learn more</button>
            <a href="explore"><button class="link-button red-button button-space">Start exploring</button></a>
          </div>
        </div>
      </div>
      <div class="banner-image-container">
        <img class="banner-image" src="/images/bannerImage.png" alt="A collage of four artworks with red boxes drawn around the bodies and faces of the subjects.">
      </div>
    </div>
    <div class="head-text-mobile">
      <p class="homepage-about">
        Using artificial intelligence, the Harvard Art Museums has collected {{annotation_count}} machine-generated descriptions and tags covering {{image_count}} images of artworks. Ranging from object recognition to face analysis that predicts gender, age, and emotion, the data reveals how computers interpret paintings, photographs, and sculptures.
      </p>
      <div class="homepage-buttons">
        <button class="link-button gray-button" onClick="document.getElementById('terms').scrollIntoView({ behavior: 'smooth' });">Learn more</button>
        <a href="explore"><button class="link-button red-button button-space">Start exploring</button></a>
      </div>
    </div>
  </div>
</section>

<section class="learn-block">
  <div id="terms" />
  <div class="content">
    <h2>Learn more</h2>
    <div class="terms-content">
      <div class="terms-flex">
        <div class="terms-box">
            <h4>Artificial Intelligence (AI)</h4>
            <p>is the ability of computers to perform advanced tasks previously only capable by human intelligence</p>
            <a href="https://simple.wikipedia.org/wiki/Artificial_intelligence">Wikipedia &#8594;</a>
        </div>
        <div class="terms-box">
            <h4>Machine Learning (ML)</h4>
            <p>is a subset of artificial intelligence and is the ability of computers to ‘learn’ from previous errors without human input</p>
            <a href="https://simple.wikipedia.org/wiki/Machine_learning">Wikipedia &#8594;</a>
        </div>
        <div class="terms-box">
            <h4>Computer Vision (CV)</h4>
            <p>is a field that studies how computers ‘see’ and ‘interpret’ the visual world using machine learning</p>
            <a href="https://simple.wikipedia.org/wiki/Computer_vision">Wikipedia &#8594;</a>
        </div>
        <div class="terms-box">
            <h4>Large Language Model (LLM)</h4>
            <p>is a type of artificial intelligence that can understand and create human language.</p>
            <a href="https://simple.wikipedia.org/wiki/Large_language_model">Wikipedia &#8594;</a>
        </div>
      </div>
    </div>
    <div class="applications-content">
      <h3>Real-world applications of art and AI</h3>
      <div class="applications-flex">
        <div class="applications-column-left">
          <p>When artificial intelligence meets art, it changes how people understand and engage with collections. At the Harvard Art Museums, we use computer vision and large language models to categorize, tag, describe, annotate, and humanize works from across our holdings. We begin by giving an AI model an image of an object, then ask it to describe what it sees. With no background information or specialized training in art, the AI responds to each image much like a newcomer stepping into a museum for the first time. By weaving the AI’s perspective with human knowledge, we co-create with both synthetic and human data, opening the door to more personalized art experiences.</p>
        </div>
        <div class="applications-column-right">
          <p>The Harvard Art Museums aren’t alone in this approach—other institutions are bringing AI into their galleries, too. <a href="https://experiments.withgoogle.com/moma">MoMA worked with the Google Arts and Culture Lab</a> to connect historic exhibition photos, some dating back to 1929, to their online collection, opening up new ways to access their exhibition history. At Rutgers University, <a href="https://www.mathworks.com/company/newsletters/articles/creating-computer-vision-and-machine-learning-algorithms-that-can-analyze-works-of-art.html">researchers use machine learning to map out hidden webs of influence among artists</a>. <a href="https://beta.nasjonalmuseet.no/2023/08/add-semantic-search-to-a-online-collection/">The National Museum of Norway is experimenting with semantic search</a> and multi-modal language models, making their digital collections even more user-friendly. As more art institutions embrace artificial intelligence, new real-world possibilities continue to emerge.</p>
        </div>
      </div>
    </div>
    <div class="about-button">
      <a href="/about"><button class="link-button dark-gray-button">Read more about the project</button></a>
    </div>
    <div class="about-button">
      <a href="/statistics"><button class="link-button dark-gray-button">Dive in to statistics about the annotations</button></a>
    </div>
  </div>
</section>

{{> startexploring}}