:root {
  --c-nearblack: #2b2b2b;
  --c-grayblack: #454545;
  --c-gray: #6b6b6b;
  --c-lightgray: #F1F1F1;
  --c-orangered: #FF3131;
  --c-yellow: #FFEF5A;
  --c-hovergray: #DFDFDF;
  --c-hoverred: #E32020;
  --c-linkblue: #4e75a6
}

@font-face {
	font-family: "Neutral Regular 3";
	src: url("/fonts/NeutralL-Regular.woff2") format("woff2");
	font-display: auto;
}
@font-face {
	font-family: "Neutral Medium 3";
	src: url("/fonts/NeutralL-Medium.woff2") format("woff2");
	font-display: auto;
}
@font-face {
	font-family: "Neutral Bold 3";
	src: url("/fonts/NeutralL-Bold.woff2") format("woff2");
	font-display: auto;
}

body {
  font-family: "Neutral Regular 3";
  font-size: 14px;
  margin: 0px;
}

a {
  color: var(--c-grayblack);
}

p {
  color: var(--c-grayblack);
  line-height: 1.7em;
}

.small-caps {
  font-size: 14px;
  color: #595959;
  line-height: 1.2em;
  text-transform: uppercase;
}

h1 {
  font: 42px "Neutral Bold 3", sans-serif;
  color: var(--c-nearblack);
  line-height: 1.3em;
  margin-top: 10px;
}

h2 {
  font: 26px "Neutral Bold 3", sans-serif;
  color: var(--c-nearblack);
  margin-bottom: 0px;
  line-height: 1em
}

h3 {
  font: 18px "Neutral Medium 3", sans-serif;
  color: var(--c-nearblack);
  margin-bottom: 0px;
  margin-top: 10px;
}

h4 {
  font: 16px "Neutral Medium 3", sans-serif;
  margin-top: 10px;
  color: var(--c-grayblack);
  margin-bottom: 5px;
  line-height: 1.4em;
}

h5 {
  font: 14px "Neutral Medium 3", sans-serif;
  color: var(--c-gray);
  margin-top: 0px;
  margin-bottom: 0px;
}

sup {
  font-size: 65%;
  margin-left: 2px;
  font-weight: bold;
  color: var(--c-gray)
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 20px;
}

summary {
  cursor: pointer;
}


.stats-list {
  margin-left: 20px;
}

.stats > table  {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.stats table td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

.stats th {
  background-color: rgb(235,235,235);
}

.stats td, tfoot th {
  text-align: right;
}

.stats tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

.stats tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}


::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--c-hovergray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--c-gray);
} 

.highlight {
  display: inline;
  background-image: linear-gradient(#fff 60%, var(--c-yellow) 55%);
}

.highlight-term {
  background-color: yellow;
}

.link-button {
  font: 14px "Neutral Regular 3", sans-serif;
  border-radius: 5px;
  padding: 5px 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.gray-button {
  color: var(--c-grayblack);
  background-color: var(--c-lightgray);
}

.gray-button:hover {
  background-color: var(--c-hovergray);
  transition: .5s ease;
}

.red-button {
  color: white;
  background-color: var(--c-orangered);
}

.red-button:hover {
  background-color: var(--c-hoverred);
  transition: .5s ease;
}

.dark-gray-button {
  color: var(--c-darkgray);
  background-color: var(--c-hovergray);
}

.light-gray-button:hover {
  background-color: white;
  transition: .5s ease;
}

.button-space {
  margin-left: 20px;
}

.homepage-header {
  display: block;
  width: 100%;
}

.head-two-part {
  display: flex;
}

.banner-head-text {
  width: 50%;
}

.banner-image-container {
  width: 50%
}

.head-text-mobile {
  display: none;
}

.banner-image {
  width: 90%;
  float: right;
}

.learn-block {
  display: block;
  width: 100%;
  background-color: var(--c-lightgray);
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.applications-content {
  margin-top: 50px
}

.applications-content > h3 {
  text-align: center;
  margin-top: 20px;
}

.content {
  width: 86%;
  max-width: 1000px;
  padding: 90px 0px;
  margin: 0px auto;
}

.homepage-about {
  padding-top: 20px;
  width: 500px;
}

.red-line-break {
  width: 100px;
  border-bottom: 1px solid var(--c-orangered)
}

.homepage-buttons {
  padding-top: 20px;
}

.terms-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.terms-content {
  margin-top: 20px;
}

.terms-box {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  background-color: #f9f9f9	;
  border: 1px solid var(--c-lightgray);
  border-radius: 5px;
  padding:  20px 5px 20px 5px;
  transition: .5s ease;
  /* border-top: 2px solid var(--c-orangered) */
}

.about-button {
  text-align: center;
  margin-top: 40px;
}

.terms-box:hover {
  background-color: white;
}

.terms-box + .terms-box {
  margin-left: 5%;
}

.terms-box > h4 {
  border-bottom: 1px solid var(--c-lightgray);
  padding-bottom: 20px;
}

.terms-box > p {
  margin: 20px;
}

.terms-box > a {
  float: right;
  padding-right: 20px;
  color: var(--c-gray)
}

.applications-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.applications-column-left {
  flex: 50%;
  margin-right: 40px;
}

.applications-column-right {
  flex: 50%;
  margin-left: 40px;
}

.applications-column-right > p > a {
  color: var(--c-linkblue)
}

.explore-block {
  display: inline-block;
  width: 100%;
}

.explore-panel {
  background-color: white;
  border-radius: 5px;
  padding-bottom: 30px;
  position: relative; 
  height: 850px;
  border: 1px solid var(--c-gray);
}

.explore-panel-content {
  position: absolute;
  top: -80px;
  width: 100%;
  margin: 0 auto;
}

.tag-search {
  padding-bottom: 20px;
}

.category-search {
  text-align: center;
  padding-bottom: 40px;
}

.category-search > a {
  margin-top: 20px;
}

.explore-subhead {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

.explore-subhead > p {
  margin-top: 5px;
  color: var(--c-gray)
}

.explore-image-block {
  margin: 0 auto;
  display: flex;
  width: 95%;
  justify-content: space-between;
}

.explore-content {
  width: 500px;
  margin-bottom: 135px;
  margin-top: 0px;
}

.example-terms {
  width: 470px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.example-terms > a > p {
  color: var(--c-gray);
}

.example-terms-mobile {
  display: none;
  width: 100%;
  justify-content: space-between;
}

.example-terms-mobile > a > p {
  color: var(--c-gray);
}

.explore-image {
  width: 13vw;
  height: 13vw;
  max-width: 150px;
  max-height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1px solid var(--c-gray);
}


.object-nav-header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(241, 241, 241, .9);
  z-index: 9999;
  width: 99%;
}

form {
  width: 100%;
}

.search-container {
  margin: 0 auto;
  height: 40px;
  width: 470px;
  display: flex;
  margin-top: 20px;
}

.search-container input[type=text] {
  border-radius: 5px 0px 0px 5px;
  padding-left: 7%;
  border: none;
  width: 90%;
  height: 40px;
  transition: border 0.5s ease;
  vertical-align: top;
  float: left;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  background-color: var(--c-lightgray)
}

.search-container input[type=text]:focus {
  border: solid 2px var(--c-orangered);
  padding-left: 6.6%;
}

.search-container button {
  height: 40px;
  width: 10%;
  float: left;
  background-color: var(--c-orangered);
  border: none;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  padding: 0px;
  border-radius: 0px 5px 5px 0px;
  color: white;
  font-size: 15px;
}

button:focus {
  outline:0;
}

input:focus {
  outline:0;
}

.search-button:hover {
  background-color: var(--c-hoverred)
}

.nav-search-container {
  margin: 0 auto;
  height: 40px;
  width: 250px;
  display: flex;
}

.nav-search-container form {
  display: flex;
}

.nav-search-container form input[type=text] {
  border-radius: 5px 0px 0px 5px;
  padding-left: 7%;
  border: none;
  width: 73%;
  height: 40px;
  vertical-align: top;
  float: left;
  background-color: var(--c-lightgray)
}


.nav-search-container form button {
  height: 42px;
  width: 20%;
  float: left;
  background-color: var(--c-hovergray);
  transition: background-color 0.5s ease;
  border: none;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  padding: 0px;
  border-radius: 0px 5px 5px 0px;
  color: white;
  font-size: 15px;
}

.navbar {
  height: 80px;
  width: 100%;
  top: 0;
  background-color: rgba(255,255,255, 0.9);
  z-index: 9997;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.mobile-dropdown {
  display: none;
}

.nav-logo {
  display: inline-block;
  width: 80px;
  height: auto;
  padding: 20px;
  padding-left: 50px;
}

.nav-link-container {
  width: 65%;
}

.nav-links {
  height: 80px;
  float: right;
  padding: 5px;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

.nav-header {
  width: 35%
}

.mobile-nav-menu {
  display: none;
}

.footer {
  border-top: 1px solid var(--c-lightgray);
  width: 100%;
}

.mobile-footer {
  display: none;
}

.footer-content {
  margin: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  width: 400px;
  opacity: .6
}

.footer-logo:hover {
  opacity: 1
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin: 0px 40px;
  width: 200px;
}

.footer-links a {
  margin: 5px;
}

.footer-icons {
  margin: 0px 40px;
  display: flex;
  flex-direction: row;
}

.footer-icon {
  width: 35px;
  margin: 10px;
  opacity: .4
}

.footer-icon:hover {
  opacity: 1
}

.disclaimer {
  margin-top: 10px;
  color: var(--c-gray)
}

a {
  text-decoration: none;
}

#nav-text-input:focus + .nav-search-button {
  background-color: var(--c-orangered)
}

.object-view-panel {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  background-color: var(--c-lightgray);
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.object-info-panel {
  width: 70%;
  margin-left: 30%; 
}

.object-info-panel > .content {
  width: 92%
}

.object-info-section {
  margin-top: 20px;
  margin-right: 30px;
}

.object-info-section > h3 {
  margin-top: 0px;
}

.object-human-info {
  width: 92%;
  margin: 0 auto;
  max-width: 1000px;
}

.object-human-info-mobile {
  display: none;
  width: 92%;
  margin: 0 auto;
  padding-top: 20px;
}

.object-human-info > tr {
  width: 100%
}

.object-info-row {
  width: 50%;
}

.artist-info {
  display: inline-block;
}

.artist-info + .artist-info {
  margin-left: 25px;
  padding-left: 25px;
  border-left: 1px solid var(--c-gray)
}

.artist-info > h4 {
  margin-top: 0px;
}

.fa-external-link {
  display: inline-block;
  color: var(--c-gray);
  margin-left: 10px;
}

.object-info-panel > .content {
  padding-top: 50px;
}

.object-title-outlink {
  display: block;
}

.object-title-outlink > h2 {
  margin-bottom: 10px;
  display: inline-block;
  line-height: 1.2em;
}

.object-title-outlink > h2 > span {
  font-size: 70%
}

.gray-line-break {
  margin-top: 60px;
  width: 100%;
  border-bottom: 1px solid var(--c-gray)
}

.object-image-container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  border-radius: 5px;
}


#openseadragon1 {
  width: 100%!important;
  height: 100%!important;
  outline: none!important;
}

#openseadragon1:focus {
  outline: none!important
}

#image-toolbar {
  position: absolute!important;
  background-color: rgba(241, 241, 241, .9);
  width: 100%;
  z-index: 9999;
  bottom: 0px;
  left: 0px;
  font-size: 20px;
  color: var(--c-gray);
  padding: 20px 0px;
}

.openseadragon-canvas {
  outline: none!important;
}

.openseadragon-canvas:focus {
  outline: none!important;
}


.toolbar-button {
  color: var(--c-gray);
  margin: 5px;
  float: right;
}

.object-image {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.ai-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#object-tag-section {
  width: 100%;
}

.tag-box {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  border: 1px solid var(--c-lightgray);
  border-radius: 5px;
  overflow-x: auto;
  padding: 0px 20px;
}

.service-tags {
  height: 380px;
  width: 100%;
  padding: 10px 0px;
  min-width: 130px;
}

.service-tags + .service-tags {
  margin-left: 4%;
}

.tag-heading {
  border-bottom: 1px solid var(--c-lightgray);
  margin-bottom: 20px;
}

.tag-heading > h4 {
  margin-bottom: 15px;
}

.tag-heading > h4 > span {
  font-size: small;
}

.tag-list {
  height: 280px;
  padding-right: 10px;
  overflow-y: auto;
}

.tag-table {
  width: 100%;
  border-spacing: 0px 2px;
}

.tag-confidence {
  float: right;
  color: var(--c-gray)
}

.tag-body {
  color: var(--c-gray)
}

.confidence-bar {
  position: relative;
  height: 1px;
  background-color: var(--c-hovergray);
  width: 100%;
  margin-bottom: 15px;
}

.red-bar {
  position: absolute;
  left: 0;
  top: 0px;
  height: 1px;
  background-color: var(--c-orangered)
}

#object-face-section {
  width: 100%;
  margin-top: 45px;
}

.faces-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid var(--c-lightgray);
  border-radius: 5px;
  margin-top: 30px;
}

.faces-toggle {
  width: 48%;
  border-right: 1px solid var(--c-lightgray);
  padding-bottom: 10px;
}

.face-subsect + .face-subsect {
  border-top: 1px solid var(--c-lightgray)
}

.faces-sources {
  padding-bottom: 5px;
  margin: 20px;
  margin-bottom: 0px;
}

.faces-icons {
  /* padding-left: 20px;
  padding-bottom: 5px;
  padding-right: 10px; */
  padding: 0px 20px 10px 20px
}

.faces-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
}

.faces-row + .faces-row {
  border-top: 1px solid var(--c-lightgray);
}

.faces-row > td > h4 {
  margin-right: 0px;
}

.faces-column {
  float: right;
  display: block;
  text-align: right;
}

.face-images {
  width: 45px;
  height: 45px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin: 5px 2px;
  display: inline-block;
  float: right;
  box-sizing: border-box;
}

.face-info {
  width: 50%;
  position: relative;
}

.face-info-box {
  width: 100%;
  display: none;
}

.face-content {
  display: flex;
  padding: 20px;
}

.face-image {
  width: 38%;
  height: 100%;
  border-radius: 5px;
}

.face-image > img {
  border-radius: 5px;
  height: auto;
  width: 100%;
}

button {
  background-color: white;
  border: none;
  padding: 0px;
}

.face-text {
  width: 55%;
  padding-left: 7%;
}

.face-text > h4 {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--c-lightgray);
  margin-top: 0px;
}

.face-text > table {
  width: 100%;
  overflow-y: scroll
}

.face-text-type {
  color: var(--c-gray)
}

.face-text-body {
  float:right;
  text-align: right;
  color: var(--c-gray)
}

#object-features-section {
  margin-top: 45px;
  width: 100%
}

.features-box {
  border: 1px solid var(--c-lightgray);
  border-radius: 5px;
  margin-top: 30px;
}

.features-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.features-box-toggle {
  width: 100%;
  padding: 10px 20px;
}

.toggle-head {
  border-bottom: 1px solid var(--c-lightgray);
  margin: 0px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.features-row {
  display: block;
  width: 100%
}


.features-row > button {
  text-align: left;
  display: block;
}

.feature-icon-title {
  float: left;
  display: block;
  width: 100%;
  color: var(--c-gray);
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.feature-images {
  width: 45px;
  height: 45px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin: 5px 2px;
  display: inline-block;
  box-sizing: border-box;
}

.features-box-display {
  width: 48%;;
  padding: 20px;
  border-left: 1px solid var(--c-lightgray)
}

.feature-slideshow {
  position: relative;
}

.left-slideshow-button {
  position: absolute;
  bottom: 10px;
  left: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, .9)
}

.right-slideshow-button {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, .9)
}

.feature-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  display: none;
}

.feature-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.feature-slide {
  border-radius: 5px;
  height: auto;
  max-width: 100%;
  max-height: 300px;
  margin: 0 auto;
}

.feature-text {
  width: 100%;
  margin-top: 10px;
}

.feature-text > table {
  width: 100%;
}

#object-captions-section {
  margin-top: 45px;
  width: 100%;
}

#object-color-section {
  width: 100%;
}

.captions-colors-box {
  border: 1px solid var(--c-lightgray);
  border-radius: 5px;
  margin-top: 30px;
}

.captions-colors-box-content {
  padding: 10px 25px;
}

.captions-colors-head {
  border-bottom: 1px solid var(--c-lightgray);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.captions-table {
  width: 100%;
  border-spacing: 0px 2px;
}

#search-results {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  margin-bottom: 40px;
  width: 40%;
  max-width: 500px;
  font-size: 20px;
  align-items: center;
}

.pagination.category-pag {
  width: 60%;
  margin-top: 40px;
}

#pagenumbers a {
  color: var(--c-gray);
  font: 18px "Neutral Regular 3", sans-serif;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

#pagenumbers a.active {
  background-color: var(--c-orangered);
  color: white;
  border-radius: 5px;
}

#pagenumbers a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

#previouspage {
  float: left
}

#nextpage {
  float: right;
}


.content-search-results {
  width: 86%;
  padding: 90px 0px;
  margin: 0px auto;
}

.content-search-stats {
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 20px;
}

.search-error {
  margin-top: 120px;
}

.search-result-box {
  width: 220px;
  height: 270px;
  margin-bottom: 30px;
  border: 1px solid var(--c-lightgray);
  border-radius: 5px;
  position: relative;
  margin-right: 15px;
  margin-top: 10px;
}

.search-result-image-box {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.search-result-image {
  flex-shrink: 0;
  object-fit: cover;
  width: 100%;
}

.search-result-confidence {
  position: absolute;
  bottom: 0;
  background-color: white;
  left: 0;
  right: 0;
  border-radius: 0px 0px 5px 5px;
  transition: .5s ease;
  overflow: hidden;

}

.confidence-content {
  padding: 12px 20px;
}

.search-result-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: .5s ease;
  border-radius: 5px;
  overflow: hidden;
}

.overlay-content{
  overflow: hidden;
  color: white;
  width: 80%;
  margin: 20px auto;
}

.overlay-content > h4, .overlay-content > h5 {
  color: white;
}

.search-result-box:hover .search-result-confidence {
  opacity: 0;
}

.search-result-box:hover .search-result-overlay {
  opacity: 1;
}


.highest-confidence {
  float: right;
  margin-top: 8px;
  margin-bottom: 12px;
}

.big-confidence {
  font-size: 20px;
  color: var(--c-grayblack);
  margin-left: 10px;
}

.table-confidence {
  padding-left: 7px;
}

.search-confidence-bar {
  position: relative;
  height: 4px;
  background-color: var(--c-hovergray);
  width: 100%;
}

.search-red-bar {
  position: absolute;
  left: 0;
  top: 0px;
  height: 4px;
  background-color: var(--c-orangered)
}

.confidence-table {
  opacity: .8;
}

.category-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 30px;
}

.category-toggle {
  border: 1px solid var(--c-lightgray);
  border-radius: 5px;
  padding-bottom: 20px;
  height: auto;
  padding-right: 10px;
  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
  top: 190px;
}

.category-toggle-mobile-select {
  background-color: var(--c-lightgray);
  color: var(--c-gray);
  font: 14px "Neutral Regular 3", sans-serif;
  border-radius: 5px 0 0 5px;
  padding: 5px 30px;
  height: 40px;
  border: none;
  cursor: pointer;
  width: 100%
}

.category-toggle-mobile {
  position: relative;
  width: 250px;
}

.category-toggle-mobile:after {
  content: '<>';
  letter-spacing: 5px;
  font: 17px "Consolas", monospace;
  color: var(--c-gray);
  text-align: center;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 39px;
  right: 11px;
  top: 6px;
  padding: 0 0 9px;
  border-bottom: 1px solid var(--c-hovergray);
  position: absolute;
  pointer-events: none;
}

select::-ms-expand {
   display: none;
}

.category-select-button {
  padding: 5px;
  border-radius: 0 5px 5px 0;
  background-color: var(--c-orangered);
  color: white;
  width: 50px;
}

.category-toggle-mobile-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.category-toggle-mobile-container {
  display: none;
}

.category-toggle-head {
  border-bottom: 1px solid var(--c-lightgray);
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 10px;
}

.category-button-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 500px;
}

.category-button {
  width: 97%;
  padding: 15px 0px;
  text-align: left;
  font: 14px "Neutral Regular 3",  sans-serif;
  display: flex;
  flex-direction: row;
}

.category-button-active {
  background-color: var(--c-lightgray);
  border-style: inset;
  border: none;
  border-left: solid 3px var(--c-orangered);
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);

}

.category-head > h2 {
  margin-top: 0px;
}

.category-icon {
  width: 15%
}

.category-results {
  width: 90%
}

.category-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: start;
  column-gap: 1%;
  margin-top: 30px;
}

.category-image {
  width: 150px;
  height: 150px;
  margin-bottom: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  border: 1px solid var(--c-lightgray);

}

.category-image > .search-confidence-bar {
  position: absolute;
  bottom: 0;
  height: 3px;
  border-radius: 0px 0px 5px 5px;

}

.category-image > .search-confidence-bar > .search-red-bar {
  height: 3px;
  border-radius: 0px 0px 5px 5px;
}

.text-box {
  border: 1px solid var(--c-lightgray);
  border-radius: 5px;
  margin-top: 30px;
}

.text-box-content {
  padding: 10px 25px;
}

.text-service-sect {
  padding: 10px 25px;
  padding-bottom: 20px;
}

.text-service-sect + .text-service-sect {
  border-top: 1px solid var(--c-lightgray);
  margin-top: 20px;
}

.text-head {
  border-bottom: 1px solid var(--c-lightgray);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.text-tags-list {
  width: 100%;
  column-count: 2;
  margin-top: 30px
}

.text-tag {
  display: flex;
  align-items: center;
  page-break-inside: avoid;
}

.text-icon-title {
  float: left;
  display: block;
  width: 100%;
  color: var(--c-gray);
  font-size: 14px;
  padding-left: 10px;
}

.text-tag + .text-tag {
  margin-top: 20px;
}

.text-image {
  min-width: 70px;
  min-height: 20px;
  max-height: 100px;
  max-width:80px;
  height: auto;
  border-radius: 2px;
  align-self: baseline;
}


.explore-block-about {
  display: inline-block;
  width: 100%;
}

.block-shading {
  background-color: var(--c-lightgray);
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.about-overview {
  width: 40%;
  margin-top: 40px;
}

.about-why-how {
  margin-top: 40px;
  padding-top: 40px;
  border-top: solid 1px var(--c-gray);
  display: inline-block;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.about-why-how-text {
  width: 100%;
  display: inline-block;
}

.about-why-how-text > p > a{
  color: var(--c-linkblue)
}

.about-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.about-break {
  margin-top: 40px;
}

.about-image-container {
  width: 60%;
  display: inline-block
}

.about-image {
  width: 90%;
  float: right;
}

.stats-overview {
  margin-top: 60px;
}

@media only screen and (min-width: 501px) and (max-width: 800px) {
  .object-view-panel {
    z-index: 9999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35vh;
    border: 1px solid var(--c-lightgray);
  }

  .object-info-panel {
    height: 65vh;
    margin-top: 35vh;
    width: 100%;
    margin-left: 0px;
  }

  .gray-line-break {
    margin-top: 30px
  }

  .object-nav-header {
    background-color: transparent;
  }

  #image-toolbar {
    background-color: transparent!important;
    float: right!important;
    left: auto!important;
    right: 0px!important;
    width: 10%!important;
    padding: 10px 20px!important;
  }

  .object-image-container {
    height: 90%
  }

  .ai-content {
    margin-top: 30px!important;
  }

  .nav-link-container {
    padding-right: 30px;
    float: right;
  }

  .nav-links {
    height: 80px;
    float: right;
    padding: 5px;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-header {
    width: 35%;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .head-text-desktop {
    display: none;
  }

  .head-text-mobile {
    display: block
  }

  .search-result-box {
    width: 200px;
  }

  .explore-panel {
    height: 850px
  }

  .terms-box + .terms-box {
    margin-left: 2%;
  }

  .pagination {
    width: 70%
  }

  .category-content {
    flex-direction: column;
  }

  .category-toggle {
    display: none;
  }

  .category-results {
    width: 100%
  }

  .category-toggle-mobile-container {
    display: flex;
  }

  .content {
    padding-bottom: 30px;
  }

  .object-human-info {
    padding-top: 40px;
  }

  .tag-box {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 10px;
  }

  .service-tags {
    width: 29%;
    padding: 20px 2%;
  }

  .service-tags + .service-tags {
    margin-left: 0;
  }

  .head-text-mobile {
    margin-bottom: 50px;
  }

}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .nav-logo {
    padding-left: 0px;
    margin-left: 7vw;
  }

  .nav-links {
    display: none;
  }

  .mobile-nav-menu {
    display: block;
    float: right;
    padding: 20px;
    padding-right: 7vw
  }

  .nav-button > button {
    background-color: transparent;
    display: inline-block;
  }

  .nav-button > button > h4 > i {
    padding-left: 10px;
  }

  .nav-button > button > h4 {
    display: inline-block;
    width: 100px;
    text-align: right;
  }

  .mobile-dropdown {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    padding: 18px 18px 30px 30px;
    background-color: white;
    width: 60%;
    z-index: 9999;
    border-radius: 0px 0px 0px 5px;
    border: 1px solid var(--c-gray);
  }

  #dropdown-back-overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    z-index: 9998
  }

  .mobile-nav-hover {
    float: right;
  }

  #dropdown-close {
    float: right;
    font-size: 18px;
    padding: 10px
  }


    .dropdown-head {
      margin-top: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--c-gray)
    }

    .dropdown-content {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    .dropdown-content > a {
      margin-top: 30px;
    }

    .nav-search-container {
      width: 100%
    }

    .explore-panel {
      border: none;
    }

    .terms-box > h4 {
      margin: 10px;
    }

}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .footer-logo {
    width: 300px;
  }

  .footer-icon {
    width: 25px;
  }

  .footer-icons {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  .footer-logo {
    width: 300px;
  }

  .footer-icon {
    width: 25px;
    margin: 5px;
  }

  .footer-icons {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .object-view-panel {
    z-index: 9999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35vh;
    border: 1px solid var(--c-gray);
  }

  .object-info-panel {
    height: 65vh;
    margin-top: 35vh;
    width: 100%;
    margin-left: 0px;
  }


  .object-info-panel > .content {
    padding-top: 0px;
  }

  .object-human-info {
    display: none
  }

  .object-human-info-mobile {
    display: block;
    width: 90%
  }

  .gray-line-break {
    margin-top: 30px
  }

  .object-nav-header {
    background-color: transparent;
  }

  .tag-box {
    flex-direction: column;
  }

  .service-tags + .service-tags {
    margin-left: 0;
  }

  .service-tags {
    height: auto;
    max-height: 340px;
    padding: 20px 0;
  }

  .tag-list {
    width: 90%;
    margin: 0 auto;
    height: auto;
    max-height: 260px;
  }

  #image-toolbar {
    background-color: transparent!important;
    float: right!important;
    left: auto!important;
    right: 0px!important;
    width: 10%!important;
    padding: 10px 20px!important;
  }

  .object-image-container {
    height: 90%;
  }

  .ai-content {
    margin-top: 30px!important;
  }

  .face-image {
    max-width: 100%;
    min-width: 98%;
    max-height: 200px;
  }

  .face-content {
    flex-direction: column
  }

  .face-text {
    width: 100%;
    padding-left: 0px;
    margin-top: 20px;
  }

  .nav-logo {
    padding-left: 0px;
    margin-left: 7vw;
  }

  h1 {
    font-size: 8vw;
    line-height: 1.2em
  }

  .head-text-desktop {
    display: none;
  }

  .head-text-mobile {
    display: block;
    margin-top: 30px;
  }

  .homepage-about {
    width: 100%;
  }

  .homepage-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .head-two-part {
    margin-right: -8%;
    flex-direction: row;
    align-items: center;
  }

  .banner-head-text {
    width: 55%;
  }

  .banner-image-container {
    width: 45%;
    height: 200px;
    overflow: hidden;
    position: relative;
  }

  .banner-image{
    height: 200px;
    width: auto;
    position: absolute;
    left: 0;
  }


  .nav-links {
    display: none;
  }

  .mobile-nav-menu {
    display: block;
    float: right;
    padding: 20px;
    padding-right: 7vw
  }

  .nav-button > button {
    background-color: transparent;
    display: inline-block;
  }

  .nav-button > button > h4 > i {
    padding-left: 10px;
  }

  .nav-button > button > h4 {
    display: inline-block;
    width: 100px;
    text-align: right;
  }

  .content {
    padding: 40px 0 60px 0px;
  }

  .content-search-results {
    padding: 20px 0 40px 0;
  }

  h2 {
    font-size: 22px;
    line-height: 1.4em;
  }

  .search-container {
    width: 100%;
  }

  .search-container button {
    width: 15%
  }

  .search-container input[type=text] {
    width: 85%
  }

  .example-terms {
    display: none;
  }

  .example-terms-mobile {
    display: flex
  }

  .explore-image {
    width: 150px;
    height: 150px;
  }

  .explore-image-block > a  {
    margin-right: 6px;
  }

  .explore-image-block {
    overflow-x: scroll;
    margin-right: -8%;
    margin-left: -5%;
    width: 113%
  }

  .explore-panel {
    height: 900px;
    border: none;
  }

  .explore-panel {
    padding-bottom: 0px;
  }

  .terms-flex {
    flex-direction: column;
  }

  .terms-box {
    margin-top: 20px;
  }

  .terms-box + .terms-box {
    margin-left: 0px;
  }

  .applications-flex {
    flex-direction: column;
    align-items: center;
  }

  .applications-flex > div {
    margin: 0px;
    width: 90%
  }

  .search-result-box {
    min-width: 170px;
    width: 100%
  }

  .object-search-result {
    width: 100%;
  }

  .mobile-dropdown {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    padding: 18px 18px 30px 30px;
    background-color: white;
    width: 60%;
    z-index: 9999;
    border-radius: 0px 0px 0px 5px;
    border: 1px solid var(--c-gray);
  }

  #dropdown-back-overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    z-index: 9998
  }

  .mobile-nav-hover {
    float: right;
  }


  body {
    overflow-x: hidden;
  }

  .link-button {
    padding: 5px 35px;
  }

  #dropdown-close {
    float: right;
    font-size: 18px;
    padding: 10px
  }


  .dropdown-head {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--c-gray)
  }

  .dropdown-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .dropdown-content > a {
    margin-top: 30px;
  }

  .nav-search-container {
    width: 100%
  }

  .about-banner {
    flex-direction: column-reverse;
  }

  .about-overview {
    width: 100%;
  }

  .about-image-container {
    width: 100%
  }

  .about-why-how {
    flex-direction: column;
  }

  .about-why-how-text {
    width: 100%;
  }

  .pagination {
    width: 90%
  }

  .pagination.category-pag {
    width: 90%;
    margin-top: 40px;
  }

  .category-content {
    flex-direction: column;
  }

  .category-toggle {
    display: none;
  }

  .category-results {
    width: 100%
  }

  .category-toggle-mobile-container {
    display: flex;
  }

  .footer {
    display: none;
    width: 0px;
  }

  .mobile-footer {
    display: block;
    border-top: 1px solid var(--c-gray)
  }

  .mobile-footer-content {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

  .mobile-footer-logo {
    margin-top: 30px;
    width: 300px;
    opacity: .6
  }

  .footer-logo {
    width: 0px;
  }

  .footer-icons {
    margin: 15px auto;
    margin-top: 25px;
    float: right;
    width: 70%;
    justify-content: space-between;
  }

  .footer-icon {
    width: 30px;
  }

  .disclaimer {
    color: var(--c-gray)
  }



}
